<div class="main">
  <h1>Check any IBAN number</h1>
  <p>Put the IBAN number in the field below, and check the country / bank name and it's status.</p>
  <div class="wrapp">
    <input type="text" name="iban" [(ngModel)]="iban" placeholder="IBAN Number">
    <button (click)="onClick()">Click</button>
    <button *ngIf="displayResults" (click)="onClear()">Clear</button>
    <div *ngIf="displayResults" class="results">
      <p>Bank name: {{bankName}}</p>
      <p>Country: {{country}}</p>
      <p>Status: {{status}}</p>
    </div>
  </div>
</div>